
body {
  padding: 25px;
  position: relative;
  padding: 80px;
}

.codeblock {
    width: fit-content;
}

.pagetitle {
  visibility: true;
}

/* Sidebar enclosure */
.sidbear-enclosure-open {
  width: 80px;
  height: 30vh;
  color: white;
  display: block;
  flex-direction: column;
  justify-content: center;     /* center items vertically */
  align-items: center;         /* center items horizontally */
  position: fixed;             /* fix to the side */
  left: 10px;
  top: 230px;
}

/* Sidebar enclosure button for open/close sidebar */
.sidbear-enclosure-open button{
  display: block;
  margin: 0px auto;
}

:hover.sidbear-enclosure-open button {
  cursor: pointer;
  transform: scale(1.08);
}

/* Sidebar boxes */
.sidebar-mainbox-open {
  width: 80px;
  height: 30vh;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;     /* center items vertically */
  align-items: center;         /* center items horizontally */
  position: fixed;             /* fix to the side */
  left: 10px;
  top: 300px;
  border-style: solid;
}

:hover.sidebar-mainbox-open {
  transform: scale(1.05);
  cursor: pointer;
}

.sidebar-mainbox-closed {
  width: 5px;
  height: 50vh;
  visibility: collapse;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;     /* center items vertically */
  align-items: center;         /* center items horizontally */
  position: fixed;             /* fix to the side */
  left: 2;
  top: 2;
  border-style: solid;
}

:hover.sidebar-mainbox-closed {
  transform: scale(1.05);
  cursor: pointer;
}

/* Sidebar sub-boxe 'buttons' inside mainboxes */
.sidebar-subbox-open {
  width: 2em;
  height: 2em;
  margin: 22px; 
  cursor: pointer;
}

:hover.sidebar-subbox-open {
  cursor: pointer;
  transform: scale(1.2);
}

.sidebar-subbox-closed {
  width: 2em;
  height: 2em;
  margin: 22px; 
  text-align: center;
  cursor: pointer;
  border-style: solid;
}

/* page-overwiew container */
.page-overwiew {
  width: 50em;
  height: 20em;
  position: relative;
  left: 400px;
}

.page-overwiew-hidden {
  visibility: hidden;
}

.page-overwiew-foldericon{
  position: relative;
  width: 10%;
  height: 10%;
}


.page-folder-header-div{
  display: flex;
  align-items: center;
  gap: 1rem
}

/* Intro Box */
.introbox {
    align-items: left;
    background-color: rgb(140, 140, 91);
}

/*foldable content container*/
.foldable-container {
  margin: 13px;
  padding: 10px;
  position: relative;
  overflow: auto;
  border-radius: 50px;
  transform-origin: center;
}

:hover.foldable-container {
  cursor: pointer;
  transform: scale(1.01);
  background-color: #333333;
  border-left-style: solid;
  border-left-color: rgb(177, 177, 123);
}

/* 'unfold' state of foldable container */
.unfolded {
  width: 95%;
  position: relative;
  font-size: x-large;
  padding: 3px;
  margin: 2px;
}

/* 'folded' state of foldable container */
.folded {
  content-visibility: hidden;
  width: 20%;
}

/* foldable containers title, that is not folded */
.foldable-title {
  padding: 12px;
  margin: 10px;
}

.foldable-content{
  display: flex;
  width: 90%;
}

/* Button to fold/unfold foldable content */
.foldable-content-unfoldbutton {
position: relative;
left: 90%;
bottom: 80px;
transform: scale(0.4);
}

/* Button to toggle editmode */
.foldable-content-edittoggle {
position: static;
left: 20%;
bottom: 88px;
transform: scale(0.4);
}

/* foldable edit button foldable content right-side */
.foldable-content-penButton{
position: relative;
left: 100%;
bottom: 80px;
transform: scale(0.4);
}

/* div where stuff gets written in finally */
.editable-paragraph{
  
}

:hover.foldable-content-penButton {
  transform: scale(1.2);
  cursor: pointer;
}

.foldable-content-penButton-hidden {
  visibility: hidden;
  margin: 30px;
}

/*page overview list */
.page-overwiew-listUL {
  
}

/*page overview entrances */
.page-overwiew-listIL{
  list-style-type: none;
  margin-bottom: 1.5rem;
}

:hover.page-overwiew-listIL {
  cursor: pointer;
  color: rgb(142, 146, 146);
  transform: scale(1.01);
  text-shadow: 0 0 5px #ffffff; 
}

/*page overview entrances a-tag */
.page-overwiew-lista-tag {
  display: flex;
  font-size: larger;
  color: inherit;
  font-weight: 400;
  align-items: center;   /* Vertically center children (svg & b tag ) */
  text-decoration: none; /* Optional: remove underline */
}

/* button to create a subdiv */
.create-subdiv{
  
}

/* ELEMENT STYLECLASSES */



/*yellow frame*/
.frame{
  border-style: solid;
  border-color: yellow;
  padding: 20px;
  column-gap: 20px;
}

.editable-paragraph b{
  color: yellow;
  font-weight: 200;
}
