
body {
  padding: 25px;
  position: relative;
}

.codeblock {
    width: fit-content;
}

/* Sidebar boxes */
.sidebar-mainbox {
  width: 80px;                 /* small sidebar width */
  height: 50vh;               /* full height of screen */
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;     /* center items vertically */
  align-items: center;         /* center items horizontally */
  position: fixed;             /* fix to the side */
  left: 2;
  top: 2;
  border-style: solid;
}

.sidebar-subbox {
  width: 2em;
  height: 2em;
  margin: 22px; 
  text-align: center;
  cursor: pointer;
  border-style: solid;
}

/* Intro Box */
.introbox {
    align-items: left;
    background-color: rgb(140, 140, 91);
}

/*foldable content container*/
.foldable-container {
  margin: 13px;
  padding: 10px;
  position: relative;
  overflow: auto;
  border-radius: 50px;
  transform-origin: center
}

:hover.foldable-container {
  cursor: pointer;
  transform: scale(1.01);
  background-color: #333333;
  border-left-style: solid;
  border-left-color: rgb(177, 177, 123);
}

/* 'unfold' state of foldable container */
.unfolded {
  width: 90%;
  position: relative;
  font-size: x-large;
  border-style: dotted;
  padding: 12px;
  margin: 10px;
}

/* 'folded' state of foldable container */
.folded {
  content-visibility: hidden;
  width: 20%;
  
}

/* foldable containers title, that is not folded */
.foldable-title {
  padding: 12px;
  margin: 10px;
}
