<!DOCTYPE html>
<html>
<head>
    <title>$ID</title>
    <link rel="stylesheet" href=" ../static/style.css">
    <link rel="stylesheet" href="../prism/prism.css">
</head>
<body class="body">
    <h1 class="pagetitle">$ID</h1>

    <!-- Sidebar -->
    <div id="sidbear-enclosure-open-$ID" class="sidbear-enclosure-open">
        <button id="sidbear-enclosure-button-$ID" class="sidbear-enclosure-button-open" onclick="" type="button">Close</button>
        <div id="sidebar-mainbox-$ID" class="sidebar-mainbox-open">
        
            <div id="sidebar-subbox-1" class="sidebar-subbox-open">
            
            </div>

            <div id="sidebar-subbox-2" class="sidebar-subbox-open">
            
            </div>

            <div id="sidebar-subbox-3" class="sidebar-subbox-open">

            </div>
      </div>
    </div>
    
   <script src="../prism/prism.js"></script>
   <script src="../static/script.js"></script>
</body>
</html>
